@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Fraunces:wght@700;900&display=swap");
:root {
  /* Primary colors */
  --header: rgba(61, 190, 255, 255);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 44%, 70%);
  /* Neutral colors */
  --very-dark-desaturated-blue: hsl(211, 28%, 19%);
  --very-dark-grayish-blue: hsl(210, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(206, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h1 {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 6.25px;
  text-transform: uppercase;
}

h2 {
  color: black;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
  letter-spacing: -0.23px;
  padding-bottom: 24px;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.24px;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body * {
  max-width: 100vw;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.13px;
  text-align: center;
  color: var(--dark-grayish-blue);
}

img {
  max-width: 100vw;
}

ul {
  list-style: none;
}

/* Navbar */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--header);
  padding: 2rem 1.5rem;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  background-image: url(/src/images/menu-background.png);
  list-style-type: none;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 329px;
  width: 329px;
  left: 24px;
  top: 82px;
  border-radius: 0px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.menu-link > a {
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.14px;
  color: var(--very-dark-grayish-blue);
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 5px;
}

section a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-decoration: none;
}

a {
  cursor: pointer;
}

a:visited {
  color: var(--very-dark-grayish-blue);
}

.btn {
  margin: 2rem 4rem;
  padding: 1rem 1.25rem;
  border-radius: 1.5rem;
  border: none;
  font-family: "Fraunces", serif;
  font-weight: 700;
  cursor: pointer;
}

.contact-btn {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.contact-btn:hover {
  background-color: var(--dark-desaturated-cyan-graphic-design-text);
  color: var(--white);
  opacity: 50%;
}

/* showcase */
.showcase {
  width: 100vw;
  background-image: url("./images/mobile/image-header.jpg");
  background-color: var(--header);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin: 0;
  background-size: 100%;
  height: 538px;
  color: var(--white);
}

.overlay {
  width: 100vw;
  padding-top: 144px;
}

.arrow {
  margin-top: 3rem;
}

/* buttons */
.menu-btn {
  background-color: var(--header);
  color: var(--header);
  border: none;
  padding: 1rem;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

/* content sections */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transform,
.standout section {
  height: 309px;
  max-width: 100vw;
  margin: 64px 32px;
}

.section-text a {
  margin: 1rem auto;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--very-dark-desaturated-blue);
}

picture > .section-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 312px;
  width: 100vw;
}

.a-transform,
.a-standout {
  color: var(--very-dark-desaturated-blue) !important;
  text-transform: uppercase;
  line-height: 0.9;
  border-radius: 25%;
  background-position: 0 50%;
}

a.a-transform:visited,
a.a-standout:visited {
  color: var(--very-dark-desaturated-blue) !important;
}

.a-transform {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(58%, transparent), color-stop(48%, var(--yellow)), color-stop(85%, var(--yellow)), color-stop(50%, transparent), color-stop(60%, transparent));
  background-image: linear-gradient(to bottom, transparent 0, transparent 58%, var(--yellow) 48%, var(--yellow) 85%, transparent 50%, transparent 60%);
}

.a-standout {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(58%, transparent), color-stop(48%, var(--soft-red)), color-stop(85%, var(--soft-red)), color-stop(50%, transparent), color-stop(60%, transparent));
  background-image: linear-gradient(to bottom, transparent 0, transparent 58%, var(--soft-red) 48%, var(--soft-red) 85%, transparent 50%, transparent 60%);
}

section.graphic {
  position: relative;
  width: 100vw;
  margin: 0;
  height: 1194px;
}

.graphic article,
.photo article {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  height: 597px;
}

.graphic article img {
  width: 100%;
  -o-object-position: top center;
     object-position: top center;
}

.graphic-text {
  position: absolute;
  padding: 0 2rem;
  margin-top: 275px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.graphic-text p,
.photo-text p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.11428571492433548px;
}

.graphic-text * {
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.photo-text * {
  color: var(--dark-blue-photography-text);
}

.photo-text {
  position: absolute;
  padding: 0 2rem;
  margin-top: 325px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* testimonials */
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  padding: 2.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.testimonials-header {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--grayish-blue);
  font-size: 0.75rem;
  text-align: center;
}

.testimony-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

.testimony {
  margin: 2rem 2rem;
  height: auto;
}

.testimonials h5 {
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 0.5em;
}

.testimony-id {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimony-text {
  text-align: center;
  margin-bottom: 1em;
  color: var(--very-dark-grayish-blue);
  line-height: 2rem;
  font-weight: 400;
  font-size: 1rem;
}

.testimony-name {
  color: var(--grayish-blue);
  margin: 1em;
}

/* gallery */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.image-gallery {
  width: 50vw;
  height: 50vw;
}

/* footer */
footer {
  background-color: var(--dark-moderate-cyan-footer);
  color: var(--dark-desaturated-cyan-graphic-design-text);
  bottom: 0;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 64px 39px 0 39px;
}

ul {
  width: 100%;
}

li {
  display: inline;
  padding: 1rem;
}

.footer-links {
  margin: 1em;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  font-size: 1rem;
}

footer a,
footer a:visited {
  text-decoration: none;
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.footer-social-icons {
  margin-top: 2rem;
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.attribution {
  padding-top: 60px;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* media queries */
@media (min-width: 768px) {
  header {
    height: 12vh;
    padding: 0 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Navbar */
  .menu {
    background-color: var(--header);
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-right: 0;
    color: var(--white);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
  }
  .menu ul li {
    padding: 0 0.5rem;
  }
  a:visited {
    color: var(--white);
  }
  .contact-btn {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
    margin: 0.5rem 1rem;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5rem;
    border: none;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .contact-btn:hover {
    background-color: var(--dark-desaturated-cyan-graphic-design-text);
    color: var(--white);
    opacity: 50%;
  }
  .showcase {
    background-image: url("./images/desktop/image-header.jpg");
    background-color: var(--header);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 75vh;
  }
  .navbar {
    right: 0;
    top: 0;
  }
  .section-transform,
  .section-standout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vw;
  }
  .section-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vw;
    width: 50vw;
  }
  .section-text {
    width: 50vw;
    height: 50vw;
    background-color: var(--white);
    color: black;
    font-family: "Fraunces", serif;
    font-weight: 700;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  article {
    margin: 0;
    padding: 0;
  }
  article img {
    height: 100%;
    overflow: hidden;
  }
  .graphic article {
    position: relative;
    text-align: center;
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }
  .graphic-text,
  .photo-text {
    position: absolute;
    top: 40%;
    color: var(--dark-desaturated-cyan-graphic-design-text);
  }
  .graphic-text p,
  .photo-text p {
    line-height: 1.7em;
    font-weight: 400;
    font-size: 1rem;
  }
  /* testimonials */
  .testimonials {
    width: 100vw;
    background-color: var(--white);
    padding: 1rem;
  }
  .testimonials-header {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--grayish-blue);
    font-size: 0.75rem;
    width: 100vw;
    text-align: center;
    padding: 2em;
  }
  .testimony-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    padding: 1rem;
  }
  .testimony {
    width: 30vw;
    margin: 1rem 2rem;
  }
  .testimony-id {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 1rem;
  }
  .testimonials h5 {
    color: var(--very-dark-desaturated-blue);
  }
  .testimony-text {
    text-align: center;
    letter-spacing: 0.1rem;
    height: 10rem;
    margin-bottom: 1em;
    color: var(--very-dark-grayish-blue);
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .gallery img {
    width: 25vw;
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=App.css.map */